.contador {
    
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: rgb(160, 209, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid rgb(222, 88, 88);
    margin-bottom: 15px;

}